/*********************

Authors:
	Jay Tang

Stylesheet:
	Variables stylesheet

*********************/

// colours

$colour-primary: #FF1177;
$colour-secondary: #eb714f;

$colour-background: #f9f6f2;
$colour-background-beta: #fff;
$colour-background-neg: #333;
$colour-background-delta: #000;

$colour-header: #374049;
$colour-header-beta: #fff;

$colour-copy: #333;
$colour-copy-neg: #fff;

// fonts

$fontbeon: "beon", "Arial", "Helvetica", sans-serif;
// $fontbeon: "beon", "Times", "Times New Roman", serif;
//$fontWhitneyBlack: "WhitneyHTF-Black", "Arial", "Helvetica", sans-serif;

// sprites

// create the sprite icon folders and put this back in
// $sprites: sprite-map("icons/*.png");
// $sprites2x: sprite-map("icons-2x/*.png");

// layout

$grid-columns : 12;
$grid-width : 960px;
$grid-gutter : 10px;
$grid-padding-outer : 20px;

// breakpoints

$breakpoints: (
	(phone 		480px)
	(tablet 	680px)
	(desktop 	960px)
	(extended 	1440px)
);
