/*********************

Authors:
	Jay Tang

Stylesheet:
	Home stylesheet

*********************/

.home {
	width: 100%;
	height: 100vh;
	background-image: url('../img/backgrounds/splash.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 100px;
}

.hero-content {
	color: $colour-copy-neg;
	text-align: center;

	h2 {
		color: $colour-copy-neg;
	}
}